{% vim: set ft=html syntax=htmldjango: %}
{% load static %}

<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <title>{{ receiver.first_name }}</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#003f69" />
    <meta property="og:type" content="video.other" />
    <meta property="og:url" content="{{ share_url }}" />
    <meta property="og:site_name" content="WWF" />
    <meta property="og:title" content="{{ receiver.first_name }} – jeg håper du vil delta på RCNs Riksmøte 2020" />
    <meta property="og:description" content="{{ receiver.first_name }} – jeg håper du vil delta på RCNs Riksmøte 2020." />
    <meta property="og:image"       content="{% static 'landingpages/coop/images/rev-thumbnail.jpg' %}" />
    <meta property="fb:app_id" content="123456789" />
    <script type="text/javascript" src="{% static 'landingpages/coop/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'landingpages/coop/js/video.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'landingpages/coop/js/lang/nb.js' %}"></script>
    <script type="text/javascript" src="{% static 'landingpages/coop/js/videojs-flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'landingpages/coop/js/videojs-flashls-source-handler.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'landingpages/coop/js/videojs-contrib-hls.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'landingpages/coop/style/libs.css' %}"/>
    <link rel="stylesheet" href="{% static 'landingpages/coop/style/style.css' %}"/>
</head>
<body>

<div id="main">

    <header>
        <div class="container flex">
            <a class="logo"
                href="https://www.coop.no"
                title="Gå til COOP nettsiden">
                <img src="{% static "landingpages/coop/images/logo.png" %}"
                      alt="logo" />
            </a>
            <a href="javascript:;" class="button scroll_down">Del film</a>
        </div>
    </header>

    <div class="video_scene">
        <video-js class="video-js" preload="none" playsinline controls poster="{% static 'landingpages/coop/images/thumbnail.jpg' %}" data-setup='{"customControlsOnMobile": true, "autoplay": true, "muted": true}'></video-js>>
            <source src="{{ phase.video_url }}" type="application/x-mpegURL">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video-js>
        <div class="video_desktop_layer rwd_hide">
            <div class="container">
                <div class="video_desktop_layer__inner">
                  <div class="video_desktop_layer__right flex">
                    <div class="footer__buttons">
                        <a href="#" class="button is_email is_custom" target="_blank" rel="noopener">
                            <span>beste praksis</span>
                            <img src="images/external.svg" width="20px" height="20px" alt="icon for external links">
                        </a>
                        <a href="#" class="button is_email is_custom" target="_blank" rel="noopener">
                            <span>ny rutine for varepåfylling</span>
                            <img src="images/external.svg" width="20px" height="20px" alt="icon for external links">
                        </a>
                        <a href="#" class="button is_email is_custom" target="_blank" rel="noopener">
                            <span>personalmøtepakken</span>
                            <img src="images/external.svg" width="20px" height="20px" alt="icon for external links">
                        </a>
                    </div>
                </div>
                <div class="video_desktop_layer__left">
                    <h1 class="content__body-header">Hei Ann!</h1>

                    <div class="content__body-columns">
                        <p class="content__body-text">Varepåfylling er både tungt og tidkrevende. Nå er det masse nye beste praksis verktøy tilgjengelig på intranett, samt et e-kurs i læringsportalen.</p>
                        <p class="content__body-text">Håper det kan være til hjelp!</p>
                        <p class="content__body-text">Dersom ikke linken til intranett fungerer finner dere frem
                            ved å:</p>
                        <ul class="content__body-list">
                            <li>Gå til butikk og salg på intranett</li>
                            <li>Gå videre til Beste praksis og butikkrutiner</li>
                            <li>Send innspill til <a href="mailto:smart@coop.no">smart@coop.no</a> dersom du forbedringsforslag</li>
                        </ul>
                        <p class="content__body-text">Målgruppen for rutiner er butikksjef, mens målgruppen for metodekort, sjekklister, mm. er øvrige ansatte som jobber med varepåfylling.</p>
                    </div>
                </div>
                </div>
                <div class="footer__info">
                    <div class="copyright">
                        <small>© 2020 COOP. All rights reserved</small>
                    </div>
                    <div class="powered_by">
                      <small>Powered by <a href="https://storm121.com" target="_blank" title="Storm 121 nettsiden">"Storm 121</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div
        class="video_scene__inner"
        style="background-image: url({% static "landingpages/coop/images/thumbnail.jpg" %})"
      >
        <div class="video__info container">
          <h1 class="content__body-header">Hei Ann!</h1>

          <div class="content__body-columns">
              <p class="content__body-text">Varepåfylling er både tungt og tidkrevende. Nå er det masse nye beste praksis verktøy tilgjengelig på intranett, samt et e-kurs i læringsportalen.</p>
              <p class="content__body-text">Håper det kan være til hjelp!</p>
              <p class="content__body-text">Dersom ikke linken til intranett fungerer finner dere frem
                  ved å:</p>
              <ul class="content__body-list">
                  <li>Gå til butikk og salg på intranett</li>
                  <li>Gå videre til Beste praksis og butikkrutiner</li>
                  <li>Send innspill til <a href="mailto:smart@coop.no">smart@coop.no</a> dersom du forbedringsforslag</li>
              </ul>
              <p class="content__body-text">Målgruppen for rutiner er butikksjef, mens målgruppen for metodekort, sjekklister, mm. er øvrige ansatte som jobber med varepåfylling.</p>
          </div>
      </div>
    </div>

</div>

<footer class="rwd_show">
    <div class="container is_smaller flex__rwd">
        <div class="footer__buttons">
          <a href="#" class="button is_email is_custom" target="_blank" rel="noopener">
            <span>beste praksis</span>
            <img src="images/external.svg" width="20px" height="20px" alt="icon for external links">
          </a>
          <a href="#" class="button is_email is_custom" target="_blank" rel="noopener">
              <span>ny rutine for varepåfylling</span>
              <img src="images/external.svg" width="20px" height="20px" alt="icon for external links">
          </a>
          <a href="#" class="button is_email is_custom" target="_blank" rel="noopener">
              <span>personalmøtepakken</span>
              <img src="images/external.svg" width="20px" height="20px" alt="icon for external links">
          </a>
        </div>
        <div class="footer__info">
            <div class="copyright">
                <small>© 2020 COOP. all rights reserved</small>
            </div>
            <div class="powered_by">
                <small>Powered by <a href="#">Storm 121</a></small>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static "landingpages/coop/js/libs.js" %}"></script>
<script>
	 $(document).ready(function () {
             $('a').click(function () {
		 $.ajax({
                     url: '{% url "register_event" uuid=phase.uuid %}',
                     method: 'POST',
                     dataType: 'json',
                     contentType: 'application/json; charset=utf-8',
                     data: JSON.stringify({
			 event: 'A_CLICK',
			 originalUrl: window.location.href,
			 lpid: '{{ landing_page_id }}',
			 href: this.href,
			 title: this.title
                     })
		 });
             });
	 });

	 player.on('play', function () {
             if (this.seeking() || this.currentTime() >= 0.1) return;

             $.ajax({
		 url: '{% url "register_event" uuid=phase.uuid %}',
		 method: 'POST',
		 dataType: 'json',
		 contentType: 'application/json; charset=utf-8',
		 data: JSON.stringify({
                     event: 'VID_PLAY',
                     originalUrl: window.location.href,
                     lpid: '{{ landing_page_id }}'
		 })
             });
	 });

	 player.on('ended', function () {
             $.ajax({
		 url: '{% url "register_event" uuid=phase.uuid %}',
		 method: 'POST',
		 dataType: 'json',
		 contentType: 'application/json; charset=utf-8',
		 data: JSON.stringify({
                     event: 'VID_WATCHED',
                     originalUrl: window.location.href,
                     lpid: '{{ landing_page_id }}'
		 })
             });
	 });
	</script>

</body>
</html>